@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap");

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --darkgray-red: hsl(0, 6%, 24%);
  --fadeColor: linear-gradient(
    135deg,
    hsl(0, 80%, 86%) 0%,
    hsl(0, 74%, 74%) 100%
  );
}

html,
body {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

/* mobile */
@media only screen and (min-width: 375px) {
  header {
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    position: absolute;
    top: 0;
  }

  section.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin-top: 2rem;
  }

  .pane-2 {
    order: 2;
    background-image: url(../images/hero-mobile.jpg);
    height: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40%;
  }

  .pane-1 {
    order: 1;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .pane-1 h1 {
    font-size: 3rem;
    text-align: center;
    text-align: center;
    max-width: 200px;
    line-height: 0.8;
  }

  .pane-1 p {
    text-align: center;
    max-width: 80%;
  }
}
/* desktop */
@media only screen and (min-width: 1440px) {
}
