@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

:root {
  /* primary */
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  /* accent */
  --blue: hsl(248, 32%, 49%);
  /* neutral */
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}
html,
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}
/* mobile */
@media only screen and (min-width: 375px) {
  body {
    background-color: var(--red);
    background-image: url(../images/bg-intro-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }

  section.container {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
  }

  /* Box One / Top Box / Left Pane */
  div.box-one {
    text-align: center;
    margin-bottom: 3rem;
  }

  div.box-one h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }

  div.box-one p {
    line-height: 1.5;
    font-weight: 400;
  }

  /* Box Two / Bottom Box / Right Pane */

  div.free-trial-quote {
    background-color: var(--blue);
    color: #fff;
    padding: 0.8rem 3rem;
    text-align: center;
    border-radius: 6px;
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  div.sign-up-form {
    background-color: #fff;
    padding: 1.3rem;
    border-radius: 6px;
  }

  div.free-trial-quote span {
    font-weight: 600;
  }
  input {
    font-family: inherit;
    border: 1px solid var(--grayish-blue);
    padding: 1rem;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 6px;
    font-weight: 800;
  }
  input[type="submit"] {
    color: #fff;
    background-color: var(--green);
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 6px;
  }

  div.sign-up-form p {
    color: var(--grayish-blue);
    font-size: 0.8rem;
    text-align: center;
  }

  a#terms-services {
    color: var(--red);
    font-weight: 800;
    text-decoration: none;
  }
}
/* desktop */
@media only screen and (min-width: 1440px) {
  body {
    background-image: url(../images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  section.container {
    flex-direction: row;
    align-items: center;
    margin: 8rem auto;
  }

  div.box-one {
    text-align: left;
  }

  div.box-one h1 {
    font-size: 3rem;
  }
}
